; Note: Even though we are on Yarn, we are temporarily keeping npmrc until
; we migrate it to yarnrc
; Enforce the NPM and Node versions
engine-strict=true
; Ensure package-lock is always generated/updated
package-lock=true
; Enforce the saving of exact versions of dependencies
save-exact=true
